<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>
        
        {%for shit in posts%}
            <article>
                <h3><a href="">{{shit.title}}</a></h3>
                <time>{{shit.published_date}}</time>
                <p>
                    {{shit.text|linebreaksbr}}
                </p>
            </article>
        {%endfor%}

    </body>
</html>